extends layouts/main.pug 

block content

    div
        br
        span  Bienvenido #{user.name}  

    .usuario-contenedor
        .usuario-pedidos-historial
            h4 Historial de tus pedidos
            br
            p #{user.phone} --- #{user.email} --- #{user.password}

            each item in user.history 
                p Pediste los siguientes productos:
                div 
                    each product in item.products 
                        span=product.title
                hr
 

        .usuario-carrito
            .header-carrito
                h2 Tu Carrito
                p
                | Donec facilisis ipsum vestibulum, ullamcorper libero in, pharetra mauris. Phasellus et vestibulum ligula.
            
            button Agregar mas
            button  Comprar 

    .usuario-pedidos-estado
    h4 Estado de tu pedido
    br
    p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac posuere augue, ac dictum diam. Fusce at lectus eleifend, venenatis est at, ullamcorper eros.
    hr

    input(type="hidden", id="userId", value=`${user.id}`)
    script. 
        localStorage.setItem('userId', document.getElementById('userId').value)
