extends layouts/main.pug 

block content

    div
        br
        span Bienvenido #{user.name}  

    .usuario-contenedor
        .usuario-pedidos-historial
            h3 Historial de tus pedidos
            br
            //- p #{user.phone} --- #{user.email} --- #{user.password}

            each item in user.history 
                h5 Pediste:
                div 
                    if item.products.length === 0
                        p No has realizados pedidos.
                    else
                        each product in item.products
                            span.historial-pedidos=product.title
                hr

        .usuario-carrito
            .header-carrito
                h2 Tu Carrito
                //- p
                //- | Donec facilisis ipsum vestibulum, ullamcorper libero in, pharetra mauris. Phasellus et vestibulum ligula.
            a(href='./store')
                button Agregar 
            //- button  Comprar 

    .usuario-pedidos-estado
    h4 Estado de tu pedido
    br
    p
        | El estado de tu pedido es: 
    hr

    input(type="hidden", id="userId", value=`${user.id}`)
