doctype html
// 10/08/2023

html(lang="en")

  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    each style in styles
      link(rel='stylesheet' href=`/assets/css/${style}.css`)

    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==' crossorigin='anonymous' referrerpolicy='no-referrer')
    title Antojitos Frit


  body 

    // Encabezado
    header.header_text
      nav.nav
        span#titulo #{title}
        
        // Navegadores
        ul.nav__list
            li
                a(href='/') Inicio
            li 
                a(href='/userView') Perfil 
            li 
                a(href='/logout') Cerrar Sesion 

    div
        br
        span Bienvenido #{user.name}  

    .usuario-contenedor
        .usuario-pedidos-historial
            h3 Historial de tus pedidos
            br
            //- p #{user.phone} --- #{user.email} --- #{user.password}

            each item in user.history 
                h5 Pediste:
                div 
                    if item.products.length === 0
                        p No has realizados pedidos.
                    else
                        each product in item.products
                            span.historial-pedidos=product.title
                hr

        .usuario-carrito
            .header-carrito
                h2 Tu Carrito
            #carrito-items

                //- p
                //- | Donec facilisis ipsum vestibulum, ullamcorper libero in, pharetra mauris. Phasellus et vestibulum ligula.
            a(href='./store')
                button Agregar 
            button  Comprar 

    //- .usuario-pedidos-estado
    //- h4 Estado de tu pedido
    //- br
    //- p
    //-     | El estado de tu pedido es: 
    //- hr

    //- input(type="hidden", id="userId", value=`${user.id}`)

     // Pie de pagina
    footer
        .contenedores
            .contenedor1
                img(src='/assets/img/Logo.png')
                p Deliciosos Deditos: &iexcl;Una explosion de sabor en cada modisco!
            .contenedor2
                img(src='/assets/img/instagram.png')
                a(href='https://wa.me/+573213232151', target='_blank')
                    img(src='/assets/img/whatsapp.png')
            .contenedor3
                //- p Antojitos Frit
                ul
                    li
                        a(href='./') Inicio
                    li#about Acerca de
                        .message 
                            p "¡Bienvenido a Antojitos Frit, tu nuevo destino digital para disfrutar de deliciosos antojitos!"
                    li 
                        a(href='/store') Productos
    block scripts
            script(src='/assets/js/script.js')